<div class="hero-unit">
    <h3>Agency information</h3>

    <div class="row">

        <div class="span6">
            <ul>
                <li class="media">{{ agencyDetails.name }}</li>
                <li class="media">{{ agencyDetails.address }}</li>
                <li class="media">{{ agencyDetails.zipCode }}</li>
                <li class="media">{{ agencyDetails.city }}</li>
            </ul>
        </div>

        <div class="span4">
           <div id="googleMap" style="width: 300px; height: 200px;"></div>
        </div>

    </div>
</div>