<div class="hero-unit">
    <h3>Agencies list</h3>
    <ul ng-repeat="agency in agencies">
        <li class="media">
            <label><a href="#/agency/{{agency.id}}">{{agency.name}}</a></label>
        </li>
    </ul>
</div>