<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel=stylesheet href="components/toastr/toastr.min.css">
    <link rel="stylesheet" href="components/intro.js/introjs.css">
    <!-- endbuild -->
  </head>
  <body ng-app="valphoneApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
        <div class="navbar-inner">
            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/add">Add a contact</a>
                        </li>
                        <li>
                            <a href="/users">Users</a>
                        </li>
                        <li>
                            <a href="/agencies">Agencies</a>
                        </li>
                        <li>
                            <a ng-click="intro()">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="show-grid"></div>

   <div class="container">
        <div class="row" ng-view></div>
    </div>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/jquery/jquery.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="components/toastr/toastr.min.js"></script>
    <script src="components/intro.js/intro.js"></script>
    <script src="components/bootstrap/js/bootstrap-collapse.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/nav/nav.js"></script>
    <script src="scripts/directives/focus.js"></script>
    <script src="scripts/directives/blur.js"></script>
    <script src="scripts/directives/drag.js"></script>
    <script src="scripts/directives/drop.js"></script>

    <script src="scripts/factories/userFactory.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/user/users.js"></script>
    <script src="scripts/controllers/user/user.js"></script>
    <script src="scripts/controllers/user/addUser.js"></script>
    <script src="scripts/controllers/agency/agencies.js"></script>
    <script src="scripts/controllers/agency/agency.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
