<div class="hero-unit">
    <h3>Add a user</h3>

    <div class="row">
        <form name="userForm" class="form-horizontal" ng-submit="saveContact()">
            <div class="span6">
                <div class="control-group {{ (userForm.firstName.isEmpty && userForm.firstName.$invalid) && 'error' }}">
                    <label class="control-label" for="inputFirstName">First Name</label>
                    <div class="controls">
                        <input ng-blur="error(user.firstName, userForm.firstName)" ng-focus="error(user.firstName, userForm.firstName)" id="inputFirstName" name="firstName" ng-model="user.firstName"  ng-pattern="/[a-zA-Z]/" type="text" placeholder="John" required>
                        <span ng-show="userForm.firstName.isEmpty && userForm.firstName.$invalid" class="help-inline">This field is required. Only alpha characters are allowed.</span>
                    </div>
                </div>

                <div class="control-group {{ (userForm.lastName.isEmpty && userForm.lastName.$invalid) && 'error' }}">
                    <label class="control-label" for="inputLastName">Last Name</label>
                    <div class="controls">
                        <input ng-blur="error(user.lastName, userForm.lastName)" ng-focus="error(user.lastName, userForm.lastName)" id="inputLastName" name="lastName" ng-model="user.lastName" ng-pattern="/[a-zA-Z]/" type="text" placeholder="Doe" required>
                        <span ng-show="userForm.lastName.isEmpty && userForm.lastName.$invalid" class="help-inline">This field is required. Only alpha characters are allowed.</span>
                    </div>
                 </div>

                <div class="control-group {{ (userForm.phone.isEmpty && userForm.phone.$invalid) && 'error' }}">
                    <label class="control-label" for="inputPhone">Phone</label>
                    <div class="controls">
                        <input ng-blur="error(user.phone, userForm.phone)" ng-focus="error(user.phone, userForm.phone)" id="inputPhone" name="phone" ng-model="user.phone" type="text" ng-pattern="/^\+?[0-9]+$/" placeholder="+33601020304" required>
                        <span ng-show="userForm.phone.isEmpty && userForm.phone.$invalid" class="help-inline">This field is required. The '+' for country code is allow.</span>
                    </div>
                </div>

                <div class="control-group {{ (userForm.mail.isEmpty && userForm.mail.$invalid) && 'error' }}">
                    <label class="control-label" for="inputMail">Mail</label>
                    <div class="controls">
                        <input ng-blur="error(user.mail, userForm.mail)" ng-focus="error(user.mail, userForm.mail)" id="inputMail" name="mail" ng-model="user.mail" type="email" placeholder="john.doe@valtech.fr" required>
                        <span ng-show="userForm.mail.isEmpty && userForm.mail.$invalid" class="help-inline">This field is required. This is must be a valid email address.</span>
                    </div>
                </div>

                <div class="control-group {{ (userForm.agency.isEmpty && userForm.agency.$invalid) && 'error' }}">
                    <label class="control-label" for="inputAgency">Agency</label>
                    <div class="controls">
                        <input ng-blur="error(user.agency, userForm.agency)" ng-focus="error(user.agency, userForm.agency)" id="inputAgency" name="agency" ng-model="user.agency" type="text" list="listAgency" required>
                        <datalist id="listAgency">
                            <select >
                                <option ng-repeat="agency in agencies" value="{{ agency.name }}"></option>
                            </select>
                        </datalist>
                        <span ng-show="userForm.agency.isEmpty && userForm.agency.$invalid" class="help-inline">This field is required. This is must be a valid email address.</span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="!userForm.$valid">Save</button>
                <button type="reset" class="btn">Cancel</button>
            </div>

            <div class="span3 hidden-phone hidden-tablet">
                <div ng-droppable ng-dropstyle="dragenter" class="img-polaroid dropbox">Drop your photo here.</div>
            </div>

        </form>
    </div>
</div>