<div class="hero-unit">
    <h3>Contact information</h3>

    <div class="row">

    <div class="span7">
        <ul>
            <li class="media">{{ userDetails.firstName }}</li>
            <li class="media">{{ userDetails.lastName }}</li>
            <li class="media">{{ userDetails.phone }}</li>
            <li class="media"><a href="mailto:{{ userDetails.mail }}">{{ userDetails.mail }}</a></li>
            <li class="media">{{ userDetails.agency }}</li>
        </ul>
    </div>

    <div class="span3">
        <img ng-src="{{userDetails.img}}" class="img-circle">
    </div>

    </div>
</div>