<div class="hero-unit">
   <h3>Users list</h3>
   <input type="search" class="search-query" ng-model="filterText" autofocus />
   <ul ng-repeat="user in users | filter:filterText">
       <li class="media">
           <label><a href="#/users/{{user.id}}">{{user.firstName}} {{user.lastName}}</a></label>
       </li>
   </ul>
</div>