<div class="hero-unit">
  <h1 data-intro="Valphone is design by Valtech. <a href='http://www.valtech.com'></a>" data-step="1">Welcome to Valphone</h1>

  <div class="row">

      <div class="span7">
      <p>This is the Valtech directory. You will find</p>
      <ul>
          <li ng-repeat="thing in awesomeThings">{{thing}}</li>
      </ul>
      <p data-intro="All the Valtech expets should be here. If not add them :)" data-step="2">for each contact.</p>
      <h3 data-intro="You get it! Do it!" data-step="3">Let's start to try it !</h3>
      </div>

      <div class="span3">
        <img src="../images/logo.jpg" class="img-circle">
      </div>

  </div>


</div>

